:root {
  --items: 3;
  --width: 240px;
  --font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

form#searchForm {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 8px;

  margin: 36px;
}
input#searchInput,
input[type='search'] {
  width: 272px;
  height: 40px;
  padding-left: 8px;
}
input:invalid ~ span::after {
  content: '✖';
  padding-left: 5px;
  position: absolute;
}

input:valid ~ span::after {
  content: '✓';
  padding-left: 5px;
  position: absolute;
}
button {
  /* width: 91px; */
  height: 40px;
  color: #fff;
  background-color: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 0 auto;
  border: none;
}
button:hover {
  background-color: #6c8cff;
}
button:disabled,
button:hover:disabled {
  background-color: #88888a;
}

/* ---------------- */
.container {
  margin: 0 auto;
  text-align: center;
}

form {
  margin-bottom: 20px;
}

input[type='text'] {
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
button:hover,
button:focus {
  background-color: #6c8cff;
}

#gallery,
.gallery,
.gallery-list {
  --items: 5;
  --column-gap: 24px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  gap: 24px;
  margin-bottom: 8px;
}
.gallery-item {
  position: relative;
  width: calc((100% - var(--column-gap) * (var(--items) - 1)) / var(--items));
  /* width: 360px; */
  /* height: 240px; */

  display: flex;
  flex-direction: column;
  border: 1px solid #808080;

  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.gallery-image {
  width: 100%;
}
.item-info {
  position: absolute;
  background-color: #fff;
  bottom: 0;
  /* opacity: 0.99; */
  width: 100%;

  display: flex;
  justify-content: space-around;
}
.item-title {
  margin-top: 4px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.item-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.gallery-item:hover .item-text {
  font-weight: 700;
  font-size: 13px;
}
